# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
#entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
#Make empty list
job_title = []
job_location = []
company_name = []
experience_required  = []

In [9]:
#scraping Job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
#scraping Job location from the given page
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

#scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
#scraping Job experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [10]:
print(len(job_title))
print(len(job_location))
print(len(company_name))
print(len(experience_required))

10
10
10
10

In [11]:
# Creating a DataFrame for scraped data
import pandas as pd
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

#quit the chrome window

,Job Title,Job Location,Company Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
1,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
4,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",Hitachi Energy,3-6 Yrs
5,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,2-7 Yrs
6,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tata Consultancy Services (TCS),5-10 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [12]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [15]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [16]:
#entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [17]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
#Make empty list
job_title = []
job_location = []
company_name = []
experience_required  = []

In [19]:
#scraping Job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
#scraping Job location from the given page
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

#scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
#scraping Job experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [20]:
print(len(job_title))
print(len(job_location))
print(len(company_name))
print(len(experience_required))

10
10
10
10

In [21]:
# Creating a DataFrame for scraped data
import pandas as pd
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

#quit the chrome window

,Job Title,Job Location,Company Name,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte,9-14 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart,6-8 Yrs
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS),4-8 Yrs
5,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS),4-9 Yrs
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,3-6 Yrs
7,Director/Senior Director - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India,10-15 Yrs
8,Manager/Senior Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India,8-12 Yrs
9,Data Scientist,Bangalore/Bengaluru,Ericsson,5-7 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [22]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [23]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [24]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [25]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [26]:
#entering designation as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [27]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [28]:
#applying location filter as “Delhi/NCR”
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search.click()

In [29]:
#applying salary filter as “3-6” lakhs
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
search.click()

In [30]:
#Make empty list
job_title = []
job_location = []
company_name = []
experience_required  = []

In [31]:
#scraping Job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
#scraping Job location from the given page
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

#scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
#scraping Job experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [32]:
print(len(job_title))
print(len(job_location))
print(len(company_name))
print(len(experience_required))

10
10
10
10

In [33]:
#making DataFrame
import pandas as pd
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

#quit the chrome window

,Job Title,Job Location,Company Name,Experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,Noida,Jubilant Ingrevia Limited,3-8 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
5,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),7-12 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Lead Assistant Manager,Gurgaon/Gurugram,EXL,2-6 Yrs
8,Data Scientist,Noida,Innovaccer,2-4 Yrs
9,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs

# Q:4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
    
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
   click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
   required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
   click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [34]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [35]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [36]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [39]:
#opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [40]:
#entering sunglasses as required in the question-
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [41]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [42]:
#Make empty list
sunglasses_brand = []
sunglasses_product_description = []
sunglasses_price = []

In [43]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')   #scaping sunglasses brand from the given page
for i in brand_tags[0:25]:
    brand = i.text
    sunglasses_brand.append(brand)
    

product_description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')  #scraping product description from the given page
for i in product_description_tags[0:25]:
    description = i.text
    sunglasses_product_description.append(description)


price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')  #scraping price from the given page
for i in price_tags[0:25]:
    price = i.text
    sunglasses_price.append(price)

In [44]:
next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span") #to scrap data from next pages
next_button.click()
time.sleep(3)

In [45]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')   #scaping sunglasses brand from the given page
for i in brand_tags[0:25]:
    brand = i.text
    sunglasses_brand.append(brand)
    

product_description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')  #scraping product description from the given page
for i in product_description_tags[0:25]:
    description = i.text
    sunglasses_product_description.append(description)


price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')  #scraping price from the given page
for i in price_tags[0:25]:
    price = i.text
    sunglasses_price.append(price)

In [46]:
next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span") #to scrap data from next pages
next_button.click()
time.sleep(3)

In [47]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')   #scaping sunglasses brand from the given page
for i in brand_tags[0:25]:
    brand = i.text
    sunglasses_brand.append(brand)
    

product_description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')  #scraping product description from the given page
for i in product_description_tags[0:25]:
    description = i.text
    sunglasses_product_description.append(description)


price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')  #scraping price from the given page
for i in price_tags[0:25]:
    price = i.text
    sunglasses_price.append(price)

In [48]:
next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span") #to scrap data from next pages
next_button.click()
time.sleep(3)

In [49]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')   #scaping sunglasses brand from the given page
for i in brand_tags[0:25]:
    brand = i.text
    sunglasses_brand.append(brand)
    

product_description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')  #scraping product description from the given page
for i in product_description_tags[0:25]:
    description = i.text
    sunglasses_product_description.append(description)


price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')  #scraping price from the given page
for i in price_tags[0:25]:
    price = i.text
    sunglasses_price.append(price)

In [50]:
print(len(sunglasses_brand))
print(len(sunglasses_product_description))
print(len(sunglasses_price))

100
100
100

In [51]:
#making DataFrame
import pandas as pd
df = pd.DataFrame({'Sunglasses Brand':sunglasses_brand,
                   'Sunglasses Product Description':sunglasses_product_description,
                   'Sunglasses Price':sunglasses_price,})
df

#close the chrome window

,Sunglasses Brand,Sunglasses Product Description,Sunglasses Price
0,OAKLEY,Rectangular Sunglass,"₹9,119"
1,style guru,"Mirrored, Night Vision, UV Protection Wayfarer...",₹899
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹499
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹216
4,BKGE,"Polarized, UV Protection Retro Square Sunglass...",₹149
...,...,...,...
95,SUNBEE,UV Protection Rectangular Sunglasses (Free Size),₹195
96,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹399
97,PIRASO,UV Protection Aviator Sunglasses (54),₹275
98,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹449
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹663

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

    
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [1]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [4]:
#opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [5]:
#Make empty list
Rating = []
Review_summary = []
Full_review = []

In [6]:
start = 0
end = 10
for page in range(start,end):
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')   #scaping rating from the given page
    for i in rating_tags:
        Rating.append(i.text)

    review_summary_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')  #scraping review summary from the given page
    for i in review_summary_tags:
        Review_summary.append(i.text)


    full_review_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')  #scraping full review from the given page
    for i in full_review_tags:
        Full_review.append(i.text)
        
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [7]:
print(len(Rating))
print(len(Review_summary))
print(len(Full_review))

100
100
100

In [8]:
#making DataFrame
import pandas as pd
df = pd.DataFrame({'Rating':Rating,
                   'Review Summary':Review_summary,
                   'Full Review':Full_review,})
df

#close the chrome window

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,"Amazing camera quality as expected, battery al..."
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Perfect product!,It is just awesome mobile for this price from ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [9]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [10]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [11]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [12]:
#opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [14]:
#entering product as required in the question-
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [15]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [16]:
#Make empty list
sneakers_brand = []
sneakers_product_description = []
sneakers_price = []

In [17]:
start = 0
end = 4
for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')   #scaping sneakers brand from the given page
    for i in brand_tags[0:25]:
        sneakers_brand.append(i.text)
    

    product_description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')  #scraping sneakers product description from the given page
    for i in product_description_tags[0:25]:
        sneakers_product_description.append(i.text)


    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')  #scraping sneakers price from the given page
    for i in price_tags[0:25]:
        sneakers_price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [18]:
print(len(sneakers_brand))
print(len(sneakers_product_description))
print(len(sneakers_price))

100
100
100

In [19]:
#crearting DataFrame for scraped data
import pandas as pd
df = pd.DataFrame({'Sneakers Brand':sneakers_brand,
                   'Sneakers Product Description':sneakers_product_description,
                   'Sneakers Price':sneakers_price,})
df

#close the chrome window

,Sneakers Brand,Sneakers Product Description,Sneakers Price
0,K- FOOTLANCE,Sneakers For Men,₹299
1,World Wear Footwear,"Trendy Stylish Comfortable & Lightweight, Casu...",₹399
2,Labbin,Sneakers For Men,₹349
3,PUMA,Buzz Sneakers For Men,"₹1,149"
4,asian,"Thunder-01 White Color Change Sneakers,Casuals...",₹714
...,...,...,...
95,Krors,Styles Men's Fashion Outdoor Trend High Top Sp...,₹549
96,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹399
97,Skechers,SUMMITS - BRISBANE Sneakers For Men,"₹1,891"
98,HRX by Hrithik Roshan,Men Street Athleisure Shoe Sneakers For Men,"₹1,224"
99,PUMA,Harrow Wns Sneakers For Women,"₹1,049"

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Thenset CPU Type filter to “Intel Core i7”.

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [20]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [21]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [22]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [23]:
#opening the amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [24]:
#entering product as required in the question-
product = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [25]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [26]:
#applying location filter as “Intel Core i7”
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[11]/li/span/a/span")
search.click()

In [27]:
#Make empty list
Title = []
Ratings = []
Price = []

In [28]:
title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')   #scaping laptop title from the given page
for i in title_tags[0:10]:
    Title.append(i.text)
    

ratings_tags = driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')  #scraping laptop ratings from the given page
for i in ratings_tags[0:10]:
    Ratings.append(i.text)


price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')  #scraping laptop price from the given page
for i in price_tags[0:10]:
    Price.append(i.text)

In [29]:
print(len(Title))
print(len(Ratings))
print(len(Price))

10
10
10

In [30]:
#crearting DataFrame for scraped data
import pandas as pd
df = pd.DataFrame({'Laptop Title':Title,
                   'Laptop Ratings':Ratings,
                   'Laptop Price':Price,})
df

#close the chrome window

,Laptop Title,Laptop Ratings,Laptop Price
0,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...",,"70,990"
1,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...",,"98,990"
2,Acer Predator Helios Neo 16 Gaming Laptop 13th...,,"1,29,990"
3,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,,"79,990"
4,HP Victus Gaming Latest 12th Gen Intel Core i7...,,"90,990"
5,HP Envy x360 12th Gen Intel Core i7-13.3 inch(...,,"1,03,990"
6,"ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...",,"1,15,990"
7,"Dell G15-5530 Gaming Laptop, Intel Core i7-136...",,"1,31,860"
8,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,,"84,999"
9,"ASUS TUF Gaming F15 (2022), 15.6""(39.62 cms) F...",,"93,990"

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. scrap 
a) Quote
b) Author 
c) Type Of Quotes

In [31]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [32]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [33]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [34]:
#opening the amazon page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [35]:
#click for Top Quotes
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [36]:
#Make empty list
Quote = []
Author = []
Types = []

In [37]:
start = 0
end = 10
for page in range(start,end):
    Quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')   #scaping Quotes from the given page
    for i in Quote_tags[0:100]:
        Quote.append(i.text)
    

    Author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')  #scraping Author from the given page
    for i in Author_tags[0:100]:
        Author.append(i.text)


    Types_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')  #scraping Types of Quotes from the given page
    for i in Types_tags[0:100]:
        Types.append(i.text)
    
    
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]") #to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [38]:
print(len(Quote))
print(len(Author))
print(len(Types))

1000
1000
1000

In [39]:
#crearting DataFrame for scraped data
import pandas as pd
df = pd.DataFrame({'Top Quotes':Quote,
                   'Author of Quote':Author,
                   'Types of Quote':Types,})
df

#close the chrome window

,Top Quotes,Author of Quote,Types of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [50]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [51]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [52]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [53]:
#opening the amazon page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [54]:
#click for GK option
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a")
search.click()

In [56]:
#click for list of all prime ministers of India
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search.click()

In [57]:
#Make empty list
Data = []
Class = []
Name = []
Born_Dead = []
Term_of_Office = []
Remark = []

In [58]:
Class_tags = driver.find_elements(By.XPATH,'//div[@class="table-box"]')
for i in Class_tags:
    Class.append(i.text)

In [59]:
Class

["S.N.\nName\nBorn-Dead\nTerm of office\nRemark\n1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.\n2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India\n3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965\n4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-\n5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India\n6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office\n7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament\n8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term\n9.\nRajiv Gandhi\n(1944–1991)\n31 October 1984 to 2 December 1989\n5 years, 32 days\nYoungest to become PM (40 years old)\n10.\nV. P. Singh\n(1931–2008)\n2 December 1989 to 10 November 1990\n343 days\nFirst PM to step down after a vote of no confidence\n11.\nChandra Shekhar\n(1927–2007)\n10 November 1990 to 21 June 1991\n223 days\nHe belongs to  Samajwadi Janata Party\n12.\nP. V. Narasimha Rao\n(1921–2004)\n21 June 1991 to 16 May 1996\n4 years, 330 days\nFirst PM from South India\n13.\nAtal Bihari Vajpayee\n(1924- 2018)\n16 May 1996 to 1 June 1996\n16 days\nPM for shortest tenure\n14.\nH. D. Deve Gowda\n(born 1933)\n1 June 1996 to 21 April 1997\n324 days\nHe belongs to  Janata Dal\n15.\nInder Kumar Gujral\n(1919–2012)\n21 April 1997 to 19 March 1998 \n332 days\n------\n16.\nAtal Bihari Vajpayee\n(1924-2018)\n19 March 1998 to 22 May 2004 \n6 years, 64 days\n The first non-congress PM who completed a full term as PM\n17.\nManmohan Singh\n(born 1932)\n22 May 2004 to 26 May 2014   \n10 years, 4 days\n First Sikh PM\n18.\nNarendra Modi\n(born 1950)\n26 May 2014 - 2019\n4th Prime Minister of India who served two consecutive tenures\n19.\nNarendra Modi\n(born 1950)\n30 May 2019- Incumbent\nFirst non-congress PM with two consecutive tenures",
 'List of all Presidents of India List of Nicknames of Indian Prime Ministers']

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
        
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [60]:
import numpy as np
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [61]:
#lets first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [62]:
#lets first connect to the driver
driver = webdriver.Chrome("chromedriver.exe")

In [63]:
#opening the amazon page on automated chrome browser
driver.get("https://www.motor1.com/")

In [65]:
#extract titles

c_titles = get_all_ele(1,'//h3[@class=""subheader]',0)

#define variables

start = 4
jump = 2
end = start + (jump*len(c_titles))
c_price = []

#extract price tag

for i in range(start,end,jump):
    
    x = '/html/body/div[3]/div[7]/div[2]/div[1],div[2]/div[1]/p[' +str(i) +']'
    y = get_all_ele(1,x,0)
    c_price.append(y)
    
#creating dictionary from list of elements extracted

car_dict = {'Car Name':c_title[0:50],'Price':c_price[0:50]}

#craeting DataFrame to scraped data

car_df = pd.DataFrame(Car_dict)
car_df

NameError: name 'get_all_ele' is not defined